.env-div {
  width: 500px;
  height: 232px;
  position: relative;
}

.address {
  font-family: cursive;
    position: absolute;
    left: 30px;
    bottom: 30px;
}

.stamp {
  position: absolute;
  right: 30px;
  top: 30px;
}