body {
  margin: 0;
}

/* 전체 */

div {
    height: 200px;
    float: left;
}

/* 개별 */

#red {
    background-color: #FF0000;
    width: 100%;
}

#orange {
    background-color: #FFA500;
    width: 25%;
}

#yellow {
    background-color: #FFFF00;
    width: 50%;
}

#green {
    background-color: #008000;
    width: 25%;
}

#blue {
    background-color: #0000FF;
    width: 50%
}

#indigo {
    background-color: #4B0082;
    width: 50%
}

#purple {
    background-color: #800080;
    width:100%
}