* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

#div1 {
    height: 60px;
    background-color: #353535;
    line-height: 60px;
}

.label {
    font-size: 16px;
    color: #4a4a4a;
}

#div3 h2 {
    font-size: 20px;
    color:#1b1b1b;
    margin-top: 10px;
    margin-bottom: 30px;
}

#div3 p {
    font-size: 16px;
    color: #7a7a7a;
    margin: 0px;
}

#ino {
  font-size: 20px;
  font-weight: lighter;
  color: white;
  display: inline-block;
  line-height: normal;
  margin: 0 30px;
}

#div2 {
    height: 350px;
    background-image: url("../image/main_img.jpg");
    background-size: cover;
    background-position: center center;
}

#div3 {
  height: 320px;
  /*line-height: 320px;*/
}

#div4 {
    height: 385px;
    background-image: url("../image/img1.jpg");
    background-size: cover;
    background-position: center top;
}

#div5 {
    height: 200px;
    background-image: url("../image/img2.jpg");
    background-size: cover;
    background-position: center top;
}

#div6 {
    height: 200px;
    background-image: url("../image/img3.jpg");
    background-size: cover;
    background-position: center top;
}

@media (min-width: 768px) and (max-width: 991px) {
    .col {
        float: left;
    }
    #div1 {
        height: 60px;
        width: 100%;
    }
    #div2 {
        height: 562px;
        width: 100%;
    }
    #div3 {
        height: 282px;
        width: 100%;
    }
    #div4 {
        height: 360px;
        width: 50%;
    }
    #div5 {
        height: 180px;
        width: 50%;
    }
    #div6 {
        height: 180px;
        width: 50%;
    }
}

@media (min-width: 992px) {
    .col {
        float: left;
    }
    #div1 {
        height: 60px;
        width: 100%;
    }
    #div2 {
        height: 700px;
        width: 50%;
    }
    #div3 {
        height: 350px;
        width: 50%;
    }
    #div4 {
        height: 350px;
        width: 25%;
    }
    #div5 {
        height: 175px;
        width: 25%;
    }
    #div6 {
        height: 175px;
        width: 25%;
    }
}