body {
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
}


/*carousel*/
  /*background-img*/
.carousel-item {
  background-size: cover;
  width: 100%;
  height: 400px;
  color: white;
  text-align: center;

}

.cooking {
  background-image: url("../image/shareskill/cooking.jpg");
  background-position: center center;
}

.make_up {
  background-image: url("../image/shareskill/makeup.jpg");
  background-position: center top;
}

.guitar{
  background-image: url("../image/shareskill/guitar.jpg");
  background-position: left center;
}

  /*contents*/
.helper {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  background-color: green;
}

.carousel-contents {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.carousel-contents p:nth-child(1) {
  font-size: 32px;
  margin-bottom: 18px;
}

.carousel-contents p:nth-child(2) {
  font-size: 22px;
  margin-bottom: 48px;
}

.btn {
  background-color: #5900E7;
  border-style: none;
  border-radius: 2px;
  color: white;
  font-size: 16px;
  padding: 10px 30px;
}


/*grid*/
.grid {
  width: 90%;
  margin: 50px auto;
}

  /*alert*/
.alert {
  margin: 0 15px 16px 15px;
  font-size: 14px;
}

  /*classes*/
.row > div {
  margin-bottom: 20px;
}

.row > div > a > div {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
}

.course_img {
  width: 100%;
}

.course_contents {
  padding: 10px;
  color: #4a4a4a;
  font-weight: bold;
}

.course_title {
  margin-bottom: 10px;
  font-size: 18px;
}

a:hover {
  text-decoration-line: none;
}

.contain {
  vertical-align: middle;
  display: inline-block;
  line-height: 100%;
}

.contain p {
  display: inline;
  font-size: 13px;
}