* {
  box-sizing: border-box;
    border-radius: 5px;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  margin: 0;
  background-color: #1BBC9B;
}

.login-form {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: #EEEFF1;
}

.text-field {
  font-size: 14px;
    width: 260px;
    margin-bottom: 10px;
    border: 0px;
   padding: 10px;
}

.submit-btn {
  font-size: 14px;
    background-color: #1BBC9B;
    width: 260px;
    margin-bottom: 30px;
    color: white;
    border: 0px;
    padding: 10px;
}

.submit-btn:hover {
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
}

.links {

}

.links a {
    display: block;
    font-size: 12px;
    color: #9B9B9B;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 20px;
}

form {
    display: block;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: None;
}

input::placeholder {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}