body {
  margin: 50px 0;
}

h1 {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

#insta {
    margin: 0 20px;
}

div {
    text-align: center;
}

a {
    text-decoration: none;
}